@font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/Mona-Sans.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans.ttf');
}

@font-face {
    font-family: 'Mona Sans Bold';
    src: url('/fonts/MonaSans-Bold.ttf');
}

@font-face {
    font-family: 'Mona Sans Condensed Bold';
    src: url('/fonts/MonaSansCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('/fonts/LiberationMono.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans', 'Mona Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.campaign__image {
    position: relative;
    z-index: 1;
    max-width: 1280px;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.campaign__image-medium {
    width: 100%;
    height: auto;
    margin-bottom: calc(-1 * 14px);
}

.campaign__image-large {
    display: none;
    z-index: -1;
    position: absolute;
    width: min(1118px, max(100vh, 100vw));
    left: 67%;
    height: auto;
}

@media (min-width: 544px) {
    .campaign__image-medium {
        display: none;
    }

    .campaign__image-large {
        display: block;
    }
}