.join__container {
    padding-top: 128px;
    display: flex;
    flex: auto;
    justify-content: center;
}

.join__wrapper {
    margin-top: calc(-1 * 32px);
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    max-width: 1280px;
    z-index: 2;
}

.top__container {
    display: flex;
    flex-direction: column;
    font-family: 'Mona Sans', sans-serif;
}

.join-box-first .top__container svg {
    margin-bottom: 15px;
}

.join-box-second .top__container img,
.join-box-third .top__container svg {
    margin-bottom: 15px;
    width: 80px;
}

.top__container h1 {
    display: inline-block;
    font-family: inherit;
    font-feature-settings: unset;
    background: linear-gradient(271.72deg, #a2facf 7.09%, #64acff 96.61%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
    letter-spacing: -0.1px;
}

.join-box-first .top__container h1 {
    margin-bottom: 17px;
}

.join-box-second .top__container h1 {
    margin-bottom: 16px;
}

.join-box-third .top__container h1 {
    margin-bottom: 17px;
}

.top__container p {
    font-family: inherit;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #8193b2;
}

.join-box-first .top__container p {
    margin-bottom: 40px;
    letter-spacing: 0.35px;
}

.join-box-second .top__container p {
    margin-bottom: 41px;
    letter-spacing: 0.35px;
}

.join-box-third .top__container p {
    margin-bottom: 40px;
    letter-spacing: 0.30px;
}

.info__wrapper {
    padding: 32px 16px;
    background-color: white;
    box-shadow: 0 12px 28px rgba(140, 149, 159, 0.3);
    border-radius: 0.75rem;
    font-family: 'Noto Sans', sans-serif;
}

.first-step {
    margin-bottom: 16px;
    height: 5px;
    background-color: rgba(234, 238, 242, 0.5);
    border-radius: 6px;
    display: flex;
    outline: 1px solid #0000;
    overflow: hidden;
}

.step-counter {
    margin-bottom: 16px;
    height: 5px;
    background-color: rgba(234, 238, 242, 0.5);
    border-radius: 6px;
    display: flex;
    outline: 1px solid #0000;
    overflow: hidden;
}

.first-info-step {
    width: 33%;
    background-color: #4969ed;
    outline: 2px solid #0000;
}

.second-info-step {
    width: 66%;
    background-color: #4969ed;
    outline: 2px solid #0000;
}

.info-form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
}

.info-header {
    margin-bottom: 8px;
    font-family: 'Mona Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #1F2328;
    word-wrap: break-word;
}

.info-text {
    margin-bottom: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #656d76;
    word-wrap: break-word;
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

.info-options fieldset {
    margin-bottom: 0.5rem;
}

.info-options fieldset legend {
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    color: #1F2328;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4285;
}

.info-options .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.option-wrap {
    padding: 16px;
    display: inline-grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto;
    flex-basis: 30%;
    border: 1px solid #d0d7de;
    border-radius: 6px;
}

.radio-box {
    position: relative;
    padding: 0;
    appearance: none;
    background-color: white;
    width: 1rem;
    height: 1rem;
    border: max(1px, 0.0625rem) solid #d0d7de;
    border-color: #858f99;
    border-radius: 50%;
    color: #1F2328;
    cursor: pointer;
    margin: 0.125rem 0 0;
    transition: background-color, border-color 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

.radio-box:checked {
    border-color: #0969da;
    border-width: 0.25rem;
}

.radio-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.radio-text label {
    font-family: sans-serif;
    color: #1F2328;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4285;
    cursor: pointer;
}

.plan__container {
    margin: 24px 0;
    display: flex;
    cursor: pointer;
}

.checkbox__container {
    margin-top: 8px;
    margin-right: 16px;
}

.top-info {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.info-title {
    margin-left: 16px;
    font-family: 'Mona Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1F2328;
    letter-spacing: 0.22px;
    word-wrap: break-word;
}

.bottom-info {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #656d76;
    word-wrap: break-word;
}

.enterprise__container {
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
    /* align-items: center; */
    cursor: pointer;
}

.continue-button {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: #4969ed;
    width: 100%;
    height: 48px;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.375rem;
    transition: box-shadow .2s, outline .2s ease;
}

.continue-button.disabled {
    cursor: default;
    opacity: 0.5;
    border-color: rgba(31, 35, 40, 0.15);
    fill: #8c959f;
    color: #8c959f;
}

.subscription-free {
    margin-bottom: 32px;
}

.free__wrapper,
.team__wrapper {
    overflow: hidden;
    background-color: #0c162d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02);
}

.subscription-name {
    padding: 16px;
    background-color: #19253A;
    font-family: 'Mona Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: white;
}

.subscription-name.team {
    display: flex;
    align-items: center;
}

.subscription-name.team h2 {
    margin-right: 16px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
}

.subscription-name.team span {
    padding: 0 10px;
    line-height: 22px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

.free-info,
.team-info {
    color: white;
    padding: 0 16px;
    flex: auto;
}

.info-list {
    position: relative;
    margin: 24px 0;
    padding-left: 64px;
}

.info-details {
    display: block;
}

.info-details summary {
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.info-details summary .icon-wrapper {
    position: absolute;
    left: 0;
    margin-left: 8px;
}

.info-details summary .icon-wrapper .icon-svg {
    display: inline-block;
    overflow: visible;
    vertical-align: text-bottom;
}

.info-details summary .icon-wrapper .info-arrow {
    color: #7d8590;
    display: inline-block;
    overflow: visible;
    vertical-align: text-bottom;
    fill: currentColor;
}

.info-details summary .icon-wrapper .info-arrow.rotate {
    height: auto;
    transform: rotate(90deg);
}

.info-subtitle {
    color: #8193b2;
    font-size: 12px;
    line-height: 18px;
}

.info-details p {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
}

.subscription-continue {
    margin: 24px 16px;
    padding: 1rem 1.5rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: box-shadow .2s, outline .2s ease;
}

.subscription-continue.free {
    color: #0d1117;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #f6f8fa;
}

.subscription-continue.free:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07);
}

.subscription-continue.team {
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #1b1f23;
    background-color: #4969ed;
}

.subscription-continue.team:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.07), 0 7px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.03), 0 22px 18px rgba(0, 0, 0, 0.03), 0 42px 33px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
}

@media (min-width: 544px) {
    .join__wrapper {
        padding: 0 40px;
    }

    .info__wrapper {
        padding: 32px;
    }

    .join-box-first .top__container svg {
        margin-bottom: 15px;
    }

    .subscription-name {
        padding: 16px 32px;
    }

    .free-info,
    .team-info {
        padding: 0 32px;
    }

    .subscription-continue {
        margin: 24px 32px;
    }
}

@media (min-width: 768px) {
    .join-box-first {
        margin-right: -24px;
        margin-left: -24px;
    }

    .join-box-second {
        margin-right: -24px;
        margin-left: -24px;
    }

    .join-box-third {
        margin-right: -24px;
        margin-left: -24px;
    }

    .top__container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .join-box-first .top__container svg,
    .join-box-third .top__container svg {
        margin-bottom: 13px;
    }

    .join-box-second .top__container img {
        margin-bottom: 14px;
    }

    .join-box-first .top__container h1,
    .join-box-third .top__container h1 {
        margin-bottom: 19px;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.1px;
    }

    .join-box-second .top__container h1 {
        margin-bottom: 17px;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.1px;
    }

    .info__container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .info-header {
        font-size: 24px;
        line-height: 28px;
        font-weight: 800
    }

    .subscription__container {
        max-width: 1260px;
        display: flex;
        align-items: stretch;
    }

    .subscription-free,
    .subscription-team {
        margin-bottom: 0;
        width: 50%;
        padding-right: 24px;
        padding-left: 24px;
    }

    .subscription-name,
    .subscription-name.team {
        font-size: 24px;
        line-height: 28px;
        font-weight: 800;
    }

    .free__wrapper,
    .team__wrapper {
        height: 100%;
    }
}

@media (min-width: 1012px) {
    .join__wrapper {
        padding: 0 16px;
    }

    .join-box-first {
        display: flex;
    }

    .join-box-second {
        display: flex;
    }

    .top__container {
        width: 50%;
    }

    .top__container.second {
        width: 58.33333331%;
    }

    .top__container.third {
        width: 100%;
    }

    .join-box-second .top__container img {
        margin-bottom: 13px;
    }

    .join-box-third .top__container svg {
        margin-bottom: 12px;
    }

    .join-box-second .top__container h1 {
        margin-bottom: 20px;
    }

    .join-box-first .top__container h1,
    .join-box-second .top__container h1 {
        font-size: 64px;
        line-height: 67px;
        letter-spacing: -1.4px;
    }

    .join-box-third .top__container h1 {
        font-size: 64px;
        line-height: 68px;
    }

    .join-box-first .top__container p,
    .join-box-second .top__container p {
        font-size: 24px;
        line-height: 34px;
    }

    .join-box-third .top__container p {
        font-size: 24px;
        line-height: 32px;
    }

    .info__container {
        width: 50%;
    }

    .info__container.second {
        width: 41.66666665%;
    }
}

@media (min-width: 1280px) {
    .top__container {
        width: 58.33333331%;
    }

    .join-box-second .top__container h1 {
        margin-bottom: 19px;
    }

    .join-box-third .top__container p {
        margin-bottom: 41px;
    }

    .info__container {
        width: 41.66666665%;
    }
}