.footer__container {
    display: flex;
    justify-content: center;
}

.footer__wrapper {
    max-width: 654px;
    margin-bottom: 40px;
    z-index: 2;
}

.footer__wrapper p {
    margin: 24px;
    color: #8193b2;
    font-size: 12px;
    line-height: 1.5;
    word-wrap: break-word;
}

.footer__wrapper a {
    color: #0969da;
    font-size: 12px;
    line-height: 1.5;
    word-wrap: break-word;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    cursor: pointer;
}

.welcome__footer-container {
    z-index: 2;
    display: flex;
    justify-content: center;
}

.welcome__footer-wrapper {
    max-width: 654px;
    margin-bottom: 40px;
}

.skip-link {
    padding-top: 39.5px;
    margin: 40px 24px;
}

.skip-link a {
    color: #8193b2;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-feature-settings: unset;
}

.skip-link a:hover {
    text-decoration: underline;
}