.footer__container {
    padding-top: 40px;
}

.footer__top-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer__top-wrapper {
    padding: 32px 0;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
}

.newsletter__container {
    width: 100%;
    margin-bottom: 32px;
}

.newsletter__container h2 {
    margin-top: 25px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.newsletter__container p {
    margin-bottom: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #7d8590;
    line-height: 21px;
}

.subscribe-button {
    padding: 1rem 1.5rem;
    margin-bottom: 24px;
    box-shadow: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
    border-radius: 0.375rem;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Segoe UI', sans-serif;
    color: #e6edf3;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    transition: box-shadow .2s, outline .2s ease;
}

.subscribe-button:hover {
    box-shadow: white 0 0 0 2px inset;
}

.permalinks__container {
    padding-right: 16px;
    margin-bottom: 40px;
    width: 49.99999998%;
}

.permalinks__container h2 {
    margin-bottom: 16px;
    font-family: 'Liberation Mono', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7d8590;
    line-height: 21px;
    cursor: default;
}

.permalinks__container ul li {
    margin-bottom: 16px;
    line-height: 17.5px;
}

.permalinks__container ul li a {
    font-family: 'Segoe UI', sans-serif;
    color: #7d8590;
    font-size: 14px;
}

.permalinks__container ul li a:hover {
    color: #2f81f7;
    text-decoration: underline;
}

.footer__bottom-container {
    background: #161b22;
}

.footer__bottom-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px 16px;
}

.company-links {
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.company-links li {
    margin-right: 16px;
}

.extra-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.extra-links li {
    margin-right: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #7d8590;
}

.extra-links li a {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #7d8590;
}

@media (min-width: 544px) {
    .permalinks__container {
        width: 24.99999999%;
    }

    .footer__top-container {
        padding: 0 40px;
    }

    .footer__bottom-wrapper {
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .company-links {
        width: 228px;
        margin-bottom: 0;
    }

    .extra-links {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .permalinks__container {
        margin-bottom: 8px;
    }

    .permalinks__container.platform,
    .permalinks__container.support,
    .permalinks__container.company {
        padding-right: 0;
        padding-left: 24px;
    }
}

@media (min-width: 1012px) {
    .newsletter__container {
        width: 33.33333332%;
    }

    .permalinks__container {
        width: 16.66666666%;
    }

    .permalinks__container.product {
        padding-right: 0;
        padding-left: 24px;
    }

    .footer__top-container {
        padding: 0 16px;
    }

    .footer__bottom-wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}